doctype html
html
  head
    title Login
    link(rel='stylesheet', href='/css/styles.css')
  body
    h1 Login
    form(method='POST', action='/auth/login')
      input(type='email', name='email', placeholder='Email', required)
      input(type='password', name='password', placeholder='Password', required)
      button(type='submit') Login
    if error
      p.error= error
    if message
      p.message= message
