doctype html
html
  head
    title Register
    link(rel='stylesheet', href='/css/styles.css')
  body
    h1 Register
    form(method='POST', action='/auth/register')
      input(type='email', name='email', placeholder='Email', required)
      input(type='text', name='name', placeholder='Name', required)
      input(type='password', name='password', placeholder='Password', required)
      button(type='submit') Register
    if error
      p.error= error
